@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .loader {
    border-top-color: #3498db;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

/* Add this to your global styles (tailwind.config.js or styles.css) */
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake-page {
  animation: shake 1.5s ease-out forwards;
}

